@model IEnumerable<CarRental.Application.Rent.RentDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr><th>
                @Html.DisplayNameFor(model => model.CarId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                       <td>
                    @Html.DisplayFor(modelItem => item.CarId)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                  
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post"><button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button> </form>
                </td>
            </tr>
        }
    </tbody>
</table>
